<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Register your account</title>
</head>
<body>

    <section class="auth-board-fff">

        <section class="auth-board">

            <div class="signin-form-container">

                <div class="logo">
                    <p id="p">
                    <a href="/">Ratatouille</a>
                    </p>
                </div>

                <div class="center-text-top">
                    <p>Confirmation</p>
                </div>
  
    
                <form action="createPassword" method="POST">

                    <div class="form-box">
                        <div class="form-field">
                            <label for="email">Email:</label>
                        </div>

                        <div class="form-field-input">
                        <i class="fa fa-envelope" ></i>
                        <input type="email" name="email" value={{email}} >
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-field">
                            <label for="password">Password:</label>
                        </div>
                        <div class="form-field-input">
                            <i class="fa fa-lock" style="font-size:22px"></i>
                            <input type="password" name="psswd">
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-field">
                            <label for="password">Confirm your password:</label>
                        </div>

                        <div class="form-field-input">
                            <i class="fa fa-lock" style="font-size:22px"></i>
                            <input type="password" name="confPsswd">
                        </div>
                    </div>
                    {{#if message}}
                        <div class="error-message">{{ message }}</div>
                    {{/if}}
                    

                    <div class="form-box-button">
                        <input type="submit"value="Done">
                    </div>
                </form>

            </div>

        </section>

        <section class="auth-board">
            <div class="signin-hero-banner">
        </div>

    </section>

    </section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</body>
</html>

