<div>
    <form action="createPassword" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" value={{email}}>
        <label for="password">Password:</label>
        <input type="password" name="psswd">
        <label for="password">Confirm your password:</label>
        <input type="password" name="confPsswd">
        {{#if message}}
            <div class="error-message">{{ message }}</div>
        {{/if}}
        <div>
            <input type="submit" value="Criar cadastro">
        </div>
    </form>
</div>