<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>Ratatouille receitas</title>
</head>
<body>
  
  <section class="auth-board-fff">

    <section class="auth-board">

      <div class="signin-form-container">      
    
        <div class="logo">
          <p id="p">
            <a href="/">Ratatouille</a>
          </p>
        </div>  

        <div class="center-text-top">
          <p>Log in to your account</p>
        </div>

        {{#unless user}}

          <div class="btn-google">
            <span class="ic-container"></span>
            <a href="/auth/google" class="ic-description">Login With Google</a>
          </div>   

        {{/unless}}  

        <div class="center-text">
          <p>or</p>
        </div>

        <form action="/login" method="POST" id="form-login">
          <div class="form-box">
            
            <div class="form-field">
              <label for="username">Email:</label>
            </div>

            <div class="form-field">
              <input type="text" name="email">
            </div>

          </div>

          <div class="form-box">

            <div class="form-field">
              <label for="password">Password:</label>
            </div>
            
            <div class="form-field">
              <input type="password" name="password">
            </div>
          </div>
          {{#if message}}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <div class="form-box-button">
            <input type="submit" value="Log In">
          </div>
        </form>

        <div class="center-text-question">
          <p>Don't have a Ratatouille account? <a href="/signup">Create one</a></p>
        </div>

      </div>

    </section>

    <section class="auth-board">
      <div class="signin-hero-banner">

      </div>

    </section>

  </section>

</body>
</html>


