<div class="card-my-recipes">
    <h2 style="color: #4EBFC2;" class="title__recipes">{{this.title}} </h2>
    <div class="margin-my-recipes">
        <p>Ready in {{this.readyInMinutes}} minutes <i class='fa fa-hourglass-start'></i></p>
    </div>
    <div class="margin-my-recipes">
        <h3 class="title__recipes">INGREDIENTS</h3>
        {{this.ingredients}}

    </div>
    <div class="margin-my-recipes">
        <h3 class="title__recipes">DIRECTIONS</h3>
        <p> {{this.directions}}
    </div>

</div>