<div class="margin__bottom">
    <div class="align__cards__recip">
        <div class="cards__categories">
            <img class="categories__img" src="/images/vegan.jpg" alt="">
            <a href="vegan">Vegan</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/gluten_free.jpg" alt="">
            <a href="gluten-free">Gluten free</a>
        </div>
        <div class="cards__categories">
            <img class="categories__img" src="/images/vegetarian.jpg" alt="">
            <a href="vegetarian">Vegetarian</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/dessert.jpg" alt="">
            <a href="desserts">Desserts</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/cheap.jpg" alt="">
            <a href="pasta">Pasta</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/dairy_free.jpg" alt="">
            <a href="dairy-free">Dairy free</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/salad.jpg" alt="">
            <a href="salads">Salads</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/meat.jpg" alt="">
            <a href="meat">Beef, chicken and seafood</a>
        </div>

         <div class="cards__categories">
            <img class="categories__img" src="/images/drinks.jpg" alt="">
            <a href="drinks">Drinks</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/soup.jpg" alt="">
            <a href="soups">Soups</a>
        </div>
    </div>
</div>