<div class="align__cards__recip">
    <div class="cards__categories">
        <img class="categories__img" src="/images/vegan.jpg" alt="">
        <p> Vegan </p>
    </div>

    <div class="cards__categories">
        <div></div>
        <img class="categories__img" src="/images/gluten_free.jpg" alt="">
        <p>Gluten free</p>

    </div>
    <div class="cards__categories">
        <img class="categories__img" src="/images/vegetarian.jpg" alt="">
        <p>Vegetarian</p>
    </div>
   
    <div class="cards__categories">
         <img class="categories__img" src="/images/dessert.jpg" alt="">
        <p> Desserts </p>
    </div>

   <div class="cards__categories">
       <img class="categories__img" src="/images/cheap.jpg" alt="">
        <p> Cheap </p>
    </div>

    <div class="cards__categories">
        <img class="categories__img"src="/images/dairy_free.jpg" alt="">
        <p>Dairy Free</p>
    </div>
</div>