<div class="margin__bottom">
    <div class="align__cards__recip">
        <div class="cards__categories">
            <img class="categories__img" src="/images/vegan.jpg" alt="">
            <a href="vegan">VEGAN</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/gluten_free.jpg" alt="">
            <a href="gluten-free">GLUTEN-FREE</a>
        </div>
        <div class="cards__categories">
            <img class="categories__img" src="/images/vegetarian.jpg" alt="">
            <a href="vegetarian">VEGETARIAN</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/dessert.jpg" alt="">
            <a href="desserts">DESSERTS</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/cheap.jpg" alt="">
            <a href="pasta">PASTA</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/dairy_free.jpg" alt="">
            <a href="dairy-free">DAIRY-FREE</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/salad.jpg" alt="">
            <a href="salads">SALADS</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/meat.jpg" alt="">
            <a href="meat">BEEF CHICKEN & SEAFOOD</a>
        </div>

         <div class="cards__categories">
            <img class="categories__img" src="/images/drinks.jpg" alt="">
            <a href="drinks">DRINKS</a>
        </div>

        <div class="cards__categories">
            <img class="categories__img" src="/images/soup.jpg" alt="">
            <a href="soups">SOUPS</a>
        </div>
    </div>
</div>