<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Recipe</title>
</head>
<body>
    
<div id="box__create__recipe">
<h1 class="title__categories">Create Recipe</h1>
{{!-- <form action="GET"> --}}
    <div id="container__create__recipes">
        <h4>Title:</h4> 
        <input type="text" class="inputIngredient" name="title">
        <h4>Minutes to prepare:</h4>
        <input type="number" class="inputIngredient" name="readyInMinutes">
        <h4>Ingredients:</h4> 
        <button type="submit" id="add__ingredient" class="btn__create__recipe">Add Ingredient</button>
        <div id="container__ingredients">
        </div>  
    </div>
</div>
<script src="/js/createRecipe.js"></script>
{{!-- </form> --}}
</body>
</html>