<section class="margin-sections">
<h1 class="cursive-title">Drinks</h1>
<div class="recipe-container">
    <div class="cards-container">
        {{#each recipes}}
        {{> recipeCard }}
        {{/each}}
    </div>
</div>
</section>