<div class="header">
    <header class="text-container">
        <h1>Receitinhas Ratatouille</h1>
        <form action="/busca" method="GET">
            <input type="text" name="busca">
        </form>
        <a href="search-results" class="btn-search" role="button">BUSCAR</a>
        {{!-- <button type="submit" class="btn-search"> BUSCAR </button> --}}
    </header>
</div>

<body>
    <div>

        <div class="recipes-container">
            <h3>Mais acessadas</h3>
        </div>

        <div class="recipes-container">
            <h3>Mais favoritadas</h3>
        </div>

        <div class="recipes-container">
            <h3>Mais compartilhadas</h3>
        </div>
    </div>

</body>