
<div class="w3-content w3-section">
    <img class="mySlides w3-animate-bottom" src="/images/orange.jpg">
    <img class="mySlides w3-animate-top" src="/images/casserole.jpg">
    <img class="mySlides w3-animate-top" src="/images/salad.jpg">
    <img class="mySlides w3-animate-bottom" src="/images/olive.jpg">
</div>


{{!-- <header class="header">
    <div class="header__align"> --}}

        {{!-- <form action="/busca" method="GET">
            <input class="form" type="text" name="busca">
        </form>
        <a href="search-results" class="btn-search" role="button">GO</a> --}}

    {{!-- </div>
</header> --}}

<div class="home__categories">

    <div class="recipes__container">
        <h3>Most viewed</h3>
        <div class="align__cards__recip">
            <div class="cards__recip">
                <!-- create dynamic view most viewed -->
            </div>

        </div>
    </div>

    <div class="recipes__container">
        <h3>Most starred</h3>
        <div class="align__cards__recip">
            <div class="cards__recip">
                <!-- create dynamic view most starred -->
            </div>
        </div>

    </div>

    <div class="recipes__container">
        <h3>Most shared</h3>
        <div class="align__cards__recip">
            <div class="cards__recip">
                <!-- create dynamic view most shared -->
            </div>


        </div>
    </div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2500);    
}
</script>