<header class="header">
    <div class="header__align">
        <h1>Receitinhas Ratatouille</h1>

        <form action="/busca" method="GET">
            <input type="text" name="busca">
        </form>
        <a href="search-results" class="btn-search" role="button">SEARCH</a>
    </div>
</header>

<div class="home__categories">

    <div class="recipes__container">
        <h3>Most viewed</h3>
        <div class="align__cards__recip">
            <div class="cards__recip">
                <!-- create dynamic view most viewed -->
            </div>

        </div>
    </div>

    <div class="recipes__container">
        <h3>Most starred</h3>
        <div class="align__cards__recip">
             <div class="cards__recip">
            <!-- create dynamic view most starred -->
            </div>
        </div>

    </div>

    <div class="recipes__container">
        <h3>Most shared</h3>
        <div class="align__cards__recip">
            <div class="cards__recip">
                <!-- create dynamic view most shared -->
            </div>

        </div>
    </div>
</div>