<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">    
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Ratatouille</title>

</head>

<body>
    <div id="page__container">
        <div id="content__wrap">
            <nav>
                <div class="logo">
                    <p id="p">
                        <a href="/">Ratatouille</a>
                    </p>
                </div>

                <div class="form">

                    <form action="/searchResults" method="GET">
                        <input type="text" name="search" placeholder="search for recipes...">
                        <button type="submit">
                            <i class="fa fa-search search__btn"></i>
                        </button>                        
                    </form>
                </div>

                

                <ul class="nav-links">
                    <li>
                        <a href="/categories">CATEGORIES</a>
                    </li>
                    
                    {{#if user}}
                    <li>
                        <a href="/login">Hi, {{user.givenName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">SIGN IN</a>
                    </li>
                    {{/if}}

               
                </ul>

                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>

            {{{body}}}

        </div>

        <footer id="footer">
            <p> Ratatouille </p>
        </footer>
    </div>
    <script src="/js/dom.js"></script>

</body>

</html>