<div class="columns-private">
    <h1 class="cursive-title">My recipes</h1>
    <form action="/create-recipe" id="align-btn">
        <button type="submit" class="btn-create-recipe">CREATE RECIPE</button>
    </form>
</div>


<div class="recipe-container">
    <div class="cards-container">
        {{#each recipes}}
        {{> cardMyRecipes }}
        {{/each}}
    </div>
</div>