<div class="columns_private align-myrecipes">
    <h2>MY RECIPES</h2>
   
    <div class="align-myrecipes">        
        <a href="/create-recipe"><button type="submit" id="margin-fck-btn" class="btn__create__recipe">CREATE RECIPE</button></a>        
    </div>
   
<div class="recipe__container">
    <div class="cards-container">
        {{#each recipes}}
        {{> cardMyRecipes }}
        {{/each}}
    </div>
</div>