<div class="columns_private align-myrecipes">
    <h2>MY RECIPES</h2>
    <div class="align-myrecipes">
        <form action="/create-recipe" class="align-myrecipes">
            <button type="submit" id="margin-fck-btn" class="btn__create__recipe">CREATE RECIPE</button>
        </form>
    </div>

   
<div class="recipe__container">
    <div class="cards-container">
        {{#each recipes}}
        {{> cardMyRecipes }}
        {{/each}}
    </div>
</div>