<div id="container__private">
    <div class="columns_private">
        <h2>LIKED RECIPES</h2>
        <div class="recipe__container">
            <div class="cards-container">
                {{#each recipes}}
                {{> recipeCard }}
                {{/each}}
            </div>
        </div>
    </div>
    <div id="divider__line"></div>
    <div class="columns_private">
        <h2>MY RECIPES</h2>
        <div>
            <form action="/create-recipe">
                <button type="submit" class="btn__create__recipe">CREATE RECIPE</button>
            </form>
        </div>

    </div>

</div>