<div id="container__private">
    <div class="columns_private">
        <h1 class="cursive-title">Starred recipes</h1>
        <div class="recipe-container">
            <div class="cards-container">
                {{#each recipes}}
                {{> recipeCard }}
                {{/each}}
            </div>
        </div>
    </div>
    
    

</div>