
<div class="recipe__container">
    <div class="cards-container">
        {{#each recipes}}
        {{> recipeCard }}
        {{/each}}
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/favorite.js"></script>
