* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#page__container {
    position: relative;
    min-height: 100vh;
    
}

#content__wrap {
    padding-bottom: 2.5rem;
        
}

/* view layout */

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    letter-spacing: 2px;

}
.logo a {
    text-decoration: none;
    color: #403933;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:white;
    color: #403933;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}
.nav-links a {
    color:#403933;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    
}
.menu-icon {
    display:none;
    cursor: pointer;
}

.menu-icon div {
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color: #403933;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
       
    .nav-links {
        position: absolute;
         right: 0px;
         height: 30vh;
         top: 8vh;
         background-color: #FFE6CC;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 40%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }
    
    .menu-icon {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); 
}


.btn-google{
    -webkit-tap-highlight-color: transparent;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font: inherit;
    margin-top: 10px;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    padding: 1px;
    background-color: #4285f4;
    border: none;
    border-radius: 2px;
    color: #fff;
    /* border: 1px solid black; */
}

.ic-container{
    -webkit-tap-highlight-color: transparent;
    -webkit-box-direction: normal;
    font: inherit;
    text-transform: none;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    background: url('../images/logo_google.svg') center no-repeat #fff;
    border-radius: 1px;
    padding: 24px;    
    float: left;
}

.ic-description{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-direction: normal;
    font: inherit;
    text-transform: none;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: .21px;
    margin-left: 60px;
    /* margin-right: 6px; */
    vertical-align: top;    
    
}



.auth-board{
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;    
    box-sizing: border-box;
    margin: 0;
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 50%;
}

.signin-form-container{
    font-family: 'Poppins', sans-serif;
    
    -webkit-tap-highlight-color: transparent;    
    box-sizing: border-box;
    
    padding: 36px;
    /* border: 1px solid black; */
}

.signin-hero-banner{
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    background: url('../images/banner_signin.jpg') right bottom no-repeat #fff;
}

.center-text-top{
    margin-top: 50px;    
    text-align: center;
    max-width: 350px;
}

.center-text{
    /* border: 1px solid black; */
    margin: 20px 0px;
    text-align: center;
    max-width: 350px;

}

.auth-board-fff{
    margin: auto;
    max-width: 1000px;
}

.form-field input{
    width: 100%;
    height: 38px;
    border: 1px solid black;
}

.form-box{
    max-width: 350px;
}

.form-box-button input{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 40px;    
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
  }
  
.form-box-button input:hover {
    background-color: white;
    color: black;
  }

.center-text-question{
    text-align: center;
    font-size: 15px; 
    max-width: 350px;
}
#footer {
    background-color: #403933;
    height: 4.5rem;
    width: 100%;
    bottom: 0;
    color: #FFE7C4;
    position: absolute;
       
    
}

#footer p {
    padding: 15px 15px 15px 15px;
    font-family: 'Pacifico', cursive; 
    font-size: 24px;
    letter-spacing: 2px;
}


/* view home.hbs */

.header {
    background-image: url("https://cdn.pixabay.com/photo/2015/10/02/15/59/olive-oil-968657_1280.jpg");
    background-position:center;
    background-size: cover;
                    
}

.header__align {
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: white;
    height: 600px;
    padding-bottom: 20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    
}
.btn-text {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;

}
.btn-search {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    margin-top:15px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline:none;
    text-decoration: none;
    outline: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn-search:hover, .btn-search:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s  ease-in;
}

.recipes__container {
    text-align: center;
    font-family: Poppins, sans-serif;
    align-items: center;
    
    
}

.align__cards__recip {
    display:flex;
    max-width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}

.cards__recip {
    margin: 30px;
    height: 200px;
    width: 300px;
    background-color: burlywood
    /* inserir formatacao cards receitas home.hbs */
    

}

@media only screen and (max-width: 768px) {
    .header__align h1 {
        font-size: 2em;
        text-align: center;
          
    }
    
}
